
body {
    margin: 0;
    padding: 0;
    background: linear-gradient( 180deg, #efe6d8 0%, #e7dccb 100% ); /* warm notebook paper */

    font-family: "Georgia", serif;
}
.page-wrapper {
    min-height: 100vh;
    padding: 40px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

